In [ ]:
'''Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]'''

In [1]:
# Ans 1 :- 

l1 =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l1.sort(key=lambda x: x[1], reverse= False)
l1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [ ]:
'''Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'''

In [7]:
# Ans :-

l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')'''

In [9]:
# Ans 3:- 
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x : str(x) , l1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
'''Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25. '''

In [13]:
#Ans 4 :-
from functools import reduce
l1 = list(range(1,26))
reduce(lambda x,y : x*y, l1)

15511210043330985984000000

In [ ]:
'''Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]'''

In [15]:
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x%2==0 and x%3==0, l1))

[6, 60, 90, 120]

In [ ]:
'''Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.


['python', 'php', 'aba', 'radar', 'level']'''

In [28]:
''' a ="aniket"
b = "".join(reversed(a))  
output = "tekina" '''


# Ans : -
l1= ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x : x=="".join(reversed(x)), l1))

['php', 'aba', 'radar', 'level']